section#sponsor-container.wow.fadeIn
    .container
        h4.title END ROLL
        .booth-block
            h5.title-sub BOOTH
            ul.lists
                li cybozu
                li Onsen UI
            ul.lists
                li 可視化情報学会
                li VDM研究会
                li Team-P(Processing)
                li WordPressコミュニティ
                li v-osaka
                li ng-kyoto
        .speaker-block
            h5.title-sub SEPAKER
            ul.lists
                li armorik83
                li @sairoutine
                li 岡本 秀高
                li 奥野 賢太郎
                li おのうえ@_likr
                li カイト
                li かみやん
                li ケノドン・ブノア
                li コソバマイ
                li 花谷 拓磨
                li 牧 昂拡
        .staff-block
            h5.title-sub STAFF
            table
                tr
                    th 統括：
                    td 若井 信一郎
                tr
                    th 実行委員長：
                    td 中谷 和貴
                tr
                    th 受付・準備：
                    td Kurino Keiichi
                tr
                    th 写真撮影：
                    td Kaie Okayama
                tr
                    th 懇親会担当：
                    td 庄埜 詩織
                tr
                    th 広報・印刷物：
                    td Yasui Risa
                tr
                    th 学生スタッフ：
                    td 山崎 好洋
                tr
                    th 総務：
                    td 後藤 知宏


        .sponsor-block
            h5.title-sub SPONSOR
            ul.gold
                each sponsor in sponsors.gold
                    li
                        a(href=sponsor.link target="_blank")
                            img(src='./assets/images/sponsor/#{sponsor.code}.png')
            ul.silver
                each sponsor in sponsors.silver
                    li
                        a(href=sponsor.link target="_blank")
                            img(src='./assets/images/sponsor/#{sponsor.code}.png')
        .support-block
            h5.title-sub SUPPORTED BY
                    div(style="margin:1em 2em")
                        <a href="https://2016.kansai.wordcamp.org/" target="_blank"><img style="width:100%" src="./img/wordcamp.png" alt="WordCamp Kansai 2016" /></a>
        .special-block
            h5.title-sub SPECIAL THANKS
            p ご参加頂いた  たくさんの皆様