section#sponsor-container.wow.fadeIn
    .container
        h4.title END ROLL
        .booth-block
            h5.title-sub BOOTH
            table.lists.lists-block
               tr
                   td.first cybozu &nbsp;
                   td Onsen UI
            table.lists
                tr
                    td.first 可視化情報学会 &nbsp;
                    td VDM研究会
                tr
                    td.first Team-P(Processing) &nbsp;
                    td WordPressコミュニティ
                tr
                    td.first v-osaka &nbsp;
                    td ng-kyoto

        .speaker-block
            h5.title-sub SEPAKER
            table.lists
                tr
                    td.first @sairoutine  &nbsp;
                    td 岡本 秀高
                tr
                    td.first 奥野 賢太郎 &nbsp;
                    td おのうえ@_likr
                tr
                    td.first カイト &nbsp;
                    td かみやん
                tr
                    td.first ケノドン・ブノア &nbsp;
                    td コソバマイ
                tr
                    td.first 花谷 拓磨 &nbsp;
                    td 牧 昂拡
        .staff-block
            h5.title-sub STAFF
            table
                tr
                    th 統括：
                    td 若井 信一郎
                tr
                    th 実行委員長：
                    td 中谷 和貴
                tr
                    th 受付・準備：
                    td Kurino Keiichi
                tr
                    th 写真撮影：
                    td Kaie Okayama
                tr
                    th 懇親会担当：
                    td 庄埜 詩織
                tr
                    th 広報・印刷物：
                    td Yasui Risa
                tr
                    th 学生スタッフ：
                    td 山崎 好洋
                tr
                    th 総務：
                    td 後藤 知宏


        .sponsor-block
            h5.title-sub SPONSOR
            ul.gold
                each sponsor in sponsors.gold
                    li
                        a(href=sponsor.link target="_blank")
                            img(src='./assets/images/sponsor/#{sponsor.code}.png')
            ul.silver
                each sponsor in sponsors.silver
                    li
                        a(href=sponsor.link target="_blank")
                            img(src='./assets/images/sponsor/#{sponsor.code}.png')
        .support-block
            h5.title-sub SUPPORTED BY
                    div(style="margin:1em 2em")
                        <a href="https://2016.kansai.wordcamp.org/" target="_blank"><img style="width:100%" src="./img/wordcamp.png" alt="WordCamp Kansai 2016" /></a>
        .special-block
            h5.title-sub SPECIAL THANKS
            p ご参加頂いた  たくさんの皆様