#sns-container.wow.fadeIn
  .container
    h4.title SHARE
    .btn
        .sns-tw-btn
            a(href="https://twitter.com/share?url=http://kfug.jp/gfo2016/#{url}&text=Grand Frontend Osaka 2016｜関西フロントエンドUG ", target="_blank") ツイートする

    .btn
        .sns-fb-btn
            a(href="https://www.facebook.com/sharer/sharer.php?u=http://kfug.jp/gfo2016/#{url}" target="_blank") シェアする

#pagetop-block
    a(href="#")
        | PAGE
        span ▲
        | TOP

#footer-container
    .container
        #kfug-logo-block
           img#footerLogo(src="./img/logo-kfug@2x.png",alt="関西フロントエンドUG" width="200px" height="100px" )

        #contact-block

            p お問い合わせは
               a(href="https://www.facebook.com/grandfrontendosaka2016/",target="_blank") Facebookページ
               | または
               a(href="https://twitter.com/frontkansai", target="_blank") Twitter公式アカウント
               | よりお願いします。
            p 関西フロントエンドUGのイベント情報は
               a(href="http://kfug.connpass.com/", target="_blank") Connpassページ
               | や
               a(href="https://www.facebook.com/groups/kansai.frontend", target="_blank") Facebookグループ
               | よりご確認ください。

#credit-container
    .container
         p.pending Design by
            a(href="http://chatbox-inc.com/page/member/yasui/", target="_blank") Yasui Risa