section#hackathon-container.wow.slideIn
    .container
        h4.day-category
            .subtitle
                img(src="./img/day1@2x.png" width="60px" height="60px" ,alt="DAY1")
                span ハッカソン

    .discription
        .container
            h4.event-title TRY TECH KANSAI
            p 「最新技術に触れてみよう」をテーマに、体験型のハッカソンイベントを開催します。技術ブースを通じたハンズオン企画や、ハックコンテストを通じた最新技術への挑戦などで「フロントエンドの最先端」×「クリエイティブ」をテーマにしたイベントです。

    .container
        .hackathon_memory
            .hackathon_img
                img(src="./img/party-over/hackathon.png" width="100%" height="auto")
            .hackathon_detail
                h5 コンテストの結果
                ul
                    li 1位 : GitHubからプログラミング言語の利用統計 / &nbsp; harip0さん
                    li 2位 : Monacaでkintoneアプリを利用 / &nbsp;  Nishimura Yoshifumi さん
                    li 3位 : 宿ホテルAPIとKintoneの連携 / &nbsp; ahaha0807_algさん
                p 受賞者の皆様おめでとうございます！
                    br
                    | そして参加者の皆様、２日間本当にお疲れ様でした！