article#news-container.wow.fadeIn
    .container
        h4.title photo
        p
            span.date 2016 / 8 / 25
            |   タイムテーブル公開
            span.badge NEW
        p
            span.date 2016 / 7 / 05
            |   イベント企画 ブース一覧等公開
        p
            span.date 2016 / 5 / 27
            |   イベント概要公開
