article#photo-container.wow.fadeIn
    .container
        h4.title PHOTO
        ul.photo-lists
            - for (var i = 0; i < 9; i++) {
                li.photo
            - };

    .container
        .action-Block
            .btn
                a.entry-btn(href="#" target="_blank")
                    span READ MORE
                    | 更に読み込む
