article#photo-container.wow.fadeIn
    .container
        h4.title PHOTO
        ul.photo-lists
            - each photo in photos
                li.photo_wrap
                    .photo(style="background-image:url(#{photo.link})")
                        .photo_frame

    .container
        .action-Block
            .btn
                a.entry-btn(href="https://www.facebook.com/grandfrontendosaka2016/photos/?tab=albums" target="_blank")
                    span READ MORE
                    | アルバムを見る
