section#session-container.wow.fadeIn
    .container
        h4.day-category
            .subtitle
                img(src="./img/day2@2x.png" width="60px" height="60px" ,alt="DAY2")
                span セッション
    .discription
        .container
            h4.event-title GRAND FRONTEND OSAKA
            p 「フロントエンドの最先端」をテーマに、聴講形式のセミナーイベントを開催します。ここでしか聞けないような、まだ誰も見たことのないフロントエンドの「これから」を、豪華な登壇陣を招いて検討していきます。多方面で活躍する登壇陣を招いてのセミナーイベントを実施するほか、イベント後半では、前日開催のハッカソンイベントの成果発表として、ハッカソン企画 参加者によるLT大会を実施します。
    .session-list
        .container
            ul
                - each session in sessionDoc
                    li.sesstion
                        .thumb
                            .speaker
                                span SPEAKER
                                p #{session.name}
                        .detail
                            h5 #{session.title}
                            ul.session_doc
                                li: a(href=session.slideLink target="_blank")
                                    span 登壇資料
                                    i.fa.fa-share-square-o(aria-hidden="true")
                                li: a(href=session.tweetLink target="_blank") ツイートまとめ
                                    span: i.fa.fa-share-square-o(aria-hidden="true")
