@import "value";
@import "mixin";
@import "event";

#sns-container {
  margin-top: 2em;
  text-align: center;
  .btn {
    margin: .5em auto 2em;
    display: inline-block;
    min-width: 150px;
    cursor: pointer;
  }
  .sns-tw-btn {
    margin-right: 1em;
    @include sns-btn($btn-tw,$btn-tw-s);
    a {
      display: block;
      color: #fff;
      padding: .7em 0 .7em;
      &::before {
        margin-right: .3em;
        display: inline-block;
        content: "\f099";
        font-size: 1.4em;
        font-family: FontAwesome;
        vertical-align: bottom;
      }

    }
    &:hover {
      @include  ac-btn-hover($btn-tw-s);
    }
  }
  .sns-fb-btn {
    @include sns-btn($btn-fb,$btn-fb-s);
    a {
      display: block;
      color: #fff;
      padding: .7em 0 .7em;
      &::before {
        margin-right: .3em;
        display: inline-block;
        content: "\f09a";
        font-size: 1.4em;
        font-family: FontAwesome;
        vertical-align: bottom;
      }
    }
    &:hover {
      @include  ac-btn-hover($btn-fb-s);
    }
  }
  @include media {
    padding: 0  0 2em;
    .btn {
      min-width: 230px;
    }
    a.sns-tw-btn {
      margin-right: 1em;
      &::before {
        margin-right: 1em;
      }
    }
    a.sns-fb-btn {
      &::before {
        margin-right: 1em;
      }
    }
  }

}

#pagetop-block {
  padding: .6em;
  text-align: center;
  background: $clr-main;
  a {
    @include en-ttl(1em);
    color: #fff;
    span {
      margin: 0 .5em;
      color: $clr-base;
      font-size: 1.2em;
    }
    &:hover {
      color: $clr-base;
      span {
        color: $clr-maker;
      }

    }
  }
  @include media {
    a {
      font-size: 1em;
      span {
        margin: 0 .5em;
        color: $clr-base;
        font-size: .8em;
      }
    }
  }
}//#pagetop-block

#footer-container {
  padding: 2em 0 3em;
  background: $clr-footer;
  #kfug-logo-block {
    text-align: center;
  }
  #contact-block {
    color: #888;
    a {
      color: $clr-maker;
      &:hover {
        color: $clr-main;
      }
    }
  }
  @include media {
    @include clearfix;
    #kfug-logo-block {
      float: left;
      width: 30%;
    }

  }
}//#footer-container

#credit-container {
  background: #11274a;
  .container {
    text-align: center;

    p {
      color: $clr-main;
      font-size: .9em;
      display: inline-block;
      a {
        color: $btn-01;
        margin-left: .8em;
        &:hover {
          color: $btn-01-s;
        }
      }
    }

  }
}