@mixin media {
  @media screen and (min-width: $breakpoint-pc) {
    @content;
  }
}

@mixin en-ttl($size: 2em) {
  font-size: $size;
  font-family: Orbitron;
  font-weight: bold;
  @include media {
    font-size: 1.5em;
  }
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}


 @mixin ac-btn($color,$color-shadow) {
   display: block;
   padding: .2em 0 .6em;
   max-width: 250px;
   text-align: center;
   font-size: 1em;
   font-weight: bold;
   background: $color;
   box-sizing: border-box;
   box-shadow: 0 6px 0 $color-shadow;
   @include media {
     padding: 1em 0 .6em;
     min-width: 350px;
     max-width: 350px;
     font-weight: 100;
   }
 }

@mixin ac-btn-hover($color-shadow) {
    background: $color-shadow;
    box-shadow: 0 3px 0 $color-shadow;
    transform: translateY(2px);
}

@mixin ac-btn-en($color) {
  font-size: .7em;
  font-family: Orbitron;
  color: $color;
  @include media {
    font-size: 1em;
  }

}
@mixin ac-btn-line($color:light) {
  content:" ";
  display: block;
  background: url("./../../img/btn-line_#{$color}@x2.png") no-repeat;
  min-width: 150px;
  height: 15px;
  background-size: 75%;
  background-position: center;
}

@mixin sns-btn($color,$color-shadow) {
  color: #fff;
  display: block;
  max-width: 250px;
  text-align: center;
  font-size: .9em;
  background: $color;
  box-sizing: border-box;
  box-shadow: 0 3px 0 $color-shadow;
}

