$clr-base: #fff114;
$clr-main: #2656a3;
$clr-news: #174f88;
$clr-day1: #00abca;
$clr-day2: #078ac8;
$clr-maker: #83e1ff;
$clr-footer: #142e57;

$btn-01: #2091c7;
$btn-01-s: #1d75a4;
$btn-02: #fff114;
$btn-02-s: #aeb430;
$btn-03: #174f88;
$btn-03-s: #174a7b;

$btn-tw: #50abf1;
$btn-tw-s: #4393d1;

$btn-fb: #30559c;
$btn-fb-s: #1c3c79;