article#access-container
    .container
        h4.title ACCESS
        #map
            img(src="http://placehold.it/300x200/ccc/fff/&text=googlemap")

        .address-block
            .btn-gmap
                a(href="")
                    | Google Map
            dl
                dt  大阪 梅田 グランフロント 大阪イノベーションハブ
                dd
                    | 〒530-0011 大阪市北区大深町3番1号
                    br
                    | グランフロント大阪 ナレッジキャピタルタワーC 7階