article#access
    h4.title ACCESS
    #map
        img(src="http://placehold.it/300x700/ccc/fff/&text=googlemap")
    a.btn-gmap(href="") Google Map
    dl
        dt  大阪 梅田 グランフロント 大阪イノベーションハブ
        dd
            | 〒530-0011 大阪市北区大深町3番1号
            br
            | グランフロント大阪 ナレッジキャピタルタワーC 7階