article#access-container
    .container
        h4.title ACCESS
        #map
            img(src="http://placehold.it/300x200/ccc/fff/&text=googlemap")

        .address-block
            .btn-gmap
                a(href="")
                    | Google Map
            dl.address
                dt  大阪イノベーションハブ
                    a(href="http://www.innovation-osaka.jp/ja/access", target="_blank")
                        i.fa.fa-clone(aria-hidden="true")

                dd
                    | 〒530-0011 大阪市北区大深町3番1号
                    br
                    span グランフロント大阪
                    |  ナレッジキャピタルタワーC 7階
            dl.train
                dt
                    i.fa.fa-subway(aria-hidden="true")
                    |  電車でのアクセス
                dd JR「大阪駅」より徒歩7分
                dd 地下鉄御堂筋線「梅田駅」より徒歩10分
                dd 阪急「梅田駅」より徒歩10分