#sns-container
    .btn
        a.sns-tw-btn(href="http://goo.gl/forms/8Lk3RJChyu")
            | ツイートする
    .btn
        a.sns-fb-btn(href="http://goo.gl/forms/8Lk3RJChyu")
            | シェアする

#pagetop-block
    a(href="./")
        | PAGE
        span ▲
        | TOP

#footer-container
    .container
        #kfug-logo-block
           img#footerLogo(src="./img/logo-kfug@2x.png",alt="関西フロントエンドUG" width="200px" height="100px" )

        #contact-block

            p お問い合わせは
               a(href="https://www.facebook.com/frontconf2016/",target="_blank") Facebookページ
               | または
               a(href="https://twitter.com/frontkansai",target="_blank") Twitter公式アカウント
               | よりお願いします。
            p その他関西フロントエンドUGのイベント情報は
               a(href="http://kfug.connpass.com/") Connpassページ
               | や
               a(href="https://www.facebook.com/groups/kansai.frontend") Facebookグループ
               | よりご確認ください。