section#hackathon-container.wow.slideIn
    .container
        h4.day-category
            .subtitle
                img(src="./img/day1@2x.png" width="60px" height="60px" ,alt="DAY1")
                span ハッカソン

    .discription
        .container
            h4.event-title TRY TECH KANSAI
            p 「最新技術に触れてみよう」をテーマに、体験型のハッカソンイベントを開催します。技術ブースを通じたハンズオン企画や、ハックコンテストを通じた最新技術への挑戦などで「フロントエンドの最先端」×「クリエイティブ」をテーマにしたイベントです。
    .booth-list
        .container
            h5 ブース一覧
            span.line
            ul
                each item in booth
                    li=item.title
            p.pending AND MORE ...

    .container
        .action-Block
            .btn
                a.entry-btn(href="http://kfug.connpass.com/event/34970" target="_blank")
                    span ENTRY
                    | 参加申し込み
            //.btn
            //    a.readmore-btn(href="" )
            //        span READ MORE
            //        | 詳細を見る