section#hackathon
    .subtitle
        dl
            dt.day
                img(src="",alt="DAY1")
            dd.category ハッカソン
    .discription
        h3.event-title TRY TECH KANSAI
            p 「最新技術に触れてみよう」をテーマに、体験型のハッカソンイベントを開催します。技術ブースを通じたハンズオン企画や、ハックコンテストを通じた最新技術への挑戦などで「フロントエンドの最先端」×「クリエイティブ」をテーマにしたイベントです。
    ul.list
        li ほげほげほげほげほげほげブース
        li ほげほげほげほげほげほげブース
        li ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげブース
        li ほげほげほげほげほげほげブース
        li ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげブース
        li ほげほげほげほげほげほげブース
    .action-Block
        a.sponsor-btn(href="")
            span READ MORE
            | 詳細をみる
        a.staff-btn(href="" )
            span TIME TABLE
            | タイムテーブル