section#session
    .subtitle
        dl
            dt.day
                img(src="",alt="DAY2")
            dd.category session
    .discription
        h3.event-title GRAND FRONTEND KANSAI
            p 「フロントエンドの最先端」をテーマに、聴講形式のセミナーイベントを開催します。ここでしか聞けないような、まだ誰も見たことのないフロントエンドの「これから」を、豪華な登壇陣を招いて検討していきます。多方面で活躍する登壇陣を招いてのセミナーイベントを実施するほか、イベント後半では、前日開催のハッカソンイベントの成果発表として、参加者全員によるLT大会を実施します。

    ul.list
        li ほげほげほげほげほげほげブース
        li ほげほげほげほげほげほげブース
        li ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげブース
        li ほげほげほげほげほげほげブース
        li ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげブース
        li ほげほげほげほげほげほげブース
    .action-Block
        a.sponsor-btn(href="")
            span READ MORE
            | 詳細をみる
        a.staff-btn(href="" )
            span TIME TABLE
            | タイムテーブル