section#session-container.wow.slideInUp
    .container
        h4.day-category
            .subtitle
                img(src="./img/day2@2x.png" width="60px" height="60px" ,alt="DAY2")
                span セッション
    .discription
        .container
            h4.event-title GRAND FRONTEND OSAKA
            p 「フロントエンドの最先端」をテーマに、聴講形式のセミナーイベントを開催します。ここでしか聞けないような、まだ誰も見たことのないフロントエンドの「これから」を、豪華な登壇陣を招いて検討していきます。多方面で活躍する登壇陣を招いてのセミナーイベントを実施するほか、イベント後半では、前日開催のハッカソンイベントの成果発表として、ハッカソン企画 参加者によるLT大会を実施します。
    .session-list
        .container
            h5 セッション一覧
            span.line
            //ul
            //    li ほげほげほげほげほげほげブース
            //    li ほげほげほげほげほげほげブース
            //    li ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげブース
            //    li ほげほげほげほげほげほげブース
            //    li ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげブース
            //    li ほげほげほげほげほげほげブース
            p.pending WAIT FOR UPDATE ...


    .container
        .action-Block
            .btn
                a.entry-btn(href="http://kfug.connpass.com/event/35228" target="_blank")
                    span ENTRY
                    | 参加申し込み
            .btn
                a.readmore-btn(href="" )
                    span READ MORE
                    | 詳細を見る
