section#sponsor-container.wow.fadeIn
    .container
        h4.title SPONSOR
        p
            span 現在スポンサーを募集中です！
            br
            | 下記のボタンよりお申し込みをお待ちしております

        .btn
            a.sponsor-btn(href="http://goo.gl/forms/15cG8PT1VoKq7tcv1", target="_blank")
                span SPONSOR
                | スポンサー募集
        br
        //ul.gold
        //    li
        //        a(href="#")
        //            img(src="./img/logo-A.png")
        //    li
        //        a(href="#")
        //            img(src="./img/logo-B.png")
        //    li
        //        a(href="#")
        //            img(src="./img/logo-C.png")
        //    li
        //        a(href="#")
        //            img(src="./img/logo-D.png")


        h4.title SUPPORTED BY
            div(style="margin:1em 2em")
                <a href="https://2016.kansai.wordcamp.org/" target="_blank"><img style="width:100%" src="./img/wordcamp.png" alt="WordCamp Kansai 2016" /></a>
