article#timetable-container.wow.fadeIn
    .container
        h4.title TIMETABLE
        #timetable-block
            <iframe src="https://drive.google.com/file/d/0B70HXMesa1Vnck45ZUthYm1JRW8/preview" width="640" height="480" frameborder="0" allowfullscreen></iframe>
        .acction-block
            .btn-blank
                a(href="https://drive.google.com/a/chatbox-inc.com/file/d/0B70HXMesa1Vnck45ZUthYm1JRW8/view", target="_blank")
                    | 別窓で表示