doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    style(src="css/style.css")
    title Grand Frontend Osaka 2016｜関西フロントエンドUG
    meta(name="description", content="今年も開催！大阪夏、フロントエンドの最先端を目指すWebの祭典、Grand Frontend Osaka 2016！")
    link(rel="canonical", href=".")
    link(rel="icon", type="image/png",href="./img/favicon.ico")
    meta(name="viewport", content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no")
    link(href='https://fonts.googleapis.com/css?family=Orbitron:400', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="./assets/css/style.css")
    link(rel="stylesheet", href="./lib/css/font-awesome.min.css")
    meta(property="og:title", content="Grand Frontend Osaka 2016｜関西フロントエンドUG")
    meta(property="og:image", content="./img/ogp.png")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@frontkansai")
    meta(name="twitter:creator", content="@frontkansai")
    meta(name="twitter:title", content="Grand Frontend Osaka 2016｜関西フロントエンドUG")
    meta(name="twitter:description", content="今年も開催！大阪夏、フロントエンドの最先端を目指すWebの祭典、Grand Frontend Osaka 2016！")
    meta(name="twitter:image", content="./img/ogp.png")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(type="text/javascript", src="./assets/js/common.bundle.js")
  body
    section#hero-container
      .container
        #logo-block
          img.logo-sp(src="./img/gfo_logo.png" width="80px" height="84px")
          img.logo-pc(src="./img/gfo_logo.png" width="140px" height="144px")
        h1.title
          | GRAND FRONTEND OSAKA
          br
          | 2016
        p.subtitle フロントエンドの最先端イベント

    section#info-container
      .container
        p.date
          | 2016  /  8  /  27
          span  sat.
          |     28
          span  sun.

    section#action-container
      .container
        .btn
          a.sponsor-btn(href="http://goo.gl/forms/8Lk3RJChyu", target="_brank")
            span SPONSOR
            br
            | スポンサー募集
        .btn
          a.speaker-btn(href="http://goo.gl/forms/Os9lWuK3ZC", target="_brank" )
            span SPEAKER
            | 登壇者 募集

    section#description-container
      .container
        h2.title GRAND FRONTEND OSAKA
          br
          | 2016
        p.description
          | Grand Frontend Osaka 2016は、関西フロントエンドUGの主催するIT系のコミュニティのイベントです。技術的な流れの早いフロントエンドの現場で、「最先端」をテーマにした尖ったスタイルのイベントをコンセプトに置いています。
          br
          | 同団体で今年3月に開催したFRONTEND CONFERENCE 2016がフロントエンドの「今」を語るイベントだったのに対し、本イベントは、フロントエンド界隈の「これから先」を見据えるイベントです。

    include ./_news

    #event-container
      include ./_hackathon
      include ./_session

    include ./_access

    include ./_sponsor

   include ./_staff

footer
  include ./_footer