doctype html
html(lang="ja")
  include ./_header
  body
    section#hero-container
      .container
        #logo-block
          img.logo-sp(src="./img/gfo_logo.png" width="80px" height="84px")
          img.logo-pc(src="./img/gfo_logo.png" width="140px" height="144px")
        h1.title
          | GRAND FRONTEND OSAKA
          br
          | 2016
        p.subtitle フロントエンドの最先端イベント

    section#info-container
      .container
        p.date
          | 2016  /  8  /  27
          span  sat.
          |     28
          span  sun.

    section#action-container
      .container
        .btn
          a.sponsor-btn(href="http://goo.gl/forms/15cG8PT1VoKq7tcv1", target="_blank")
            span SPONSOR
            br
            | スポンサー募集
        .btn
          a.speaker-btn(href="#event-container")
            span  EVENT
            | イベントを確認

    section#description-container
      .container
        h2.title GRAND FRONTEND OSAKA
          br
          | 2016
        p.description
          | 「フロントエンドの最先端」をテーマに2DAYS開催される Grand Frontend Osaka 2016。技術的な流れの早いフロントエンドの現場に、「最先端」をテーマにした攻めのスタイルで、この夏一番の熱さを提供します!!
          br
          | 1日目のハッカソン企画 「Try Tech Kansai」 と 2日目のセミナーイベントとで、これからのフロントエンドの世界を「作り」「知る」事が出来るココにしか無いスタイルのイベントとなっています！

    include ./_news

    #event-container
      include ./_hackathon
      include ./_session
    include ./_timetable
    include ./_access

    include ./_sponsor

   include ./_staff

footer
  - var url = ""
  include ./_footer